.__Merge__ {
    display: flex;
}

.__Merge__ h5 {
    margin-bottom: 40px;
    border: 1px solid darkgray;
    padding: 10px;
}

.__Merge__ .sourceMapUrl {
    margin-top: 40px;
}

.__Merge__ .merge-form {
    width: 600px;
    margin: 100px auto;
}

.__Merge__ .merge-label {
    margin-top: 50px;
    margin-bottom: 10px;
}

.__Merge__ .merge {
    margin-top: 30px;
}

.__Merge__ .undo {
    position: fixed;
    bottom: 5px;
    right: 30px;
}

.__Merge__ .btn.disabled, .__Merge__ .btn:disabled {
    cursor: not-allowed;
}

.__Merge__ .merge-progress {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    box-shadow: none !important;
}