.__Merge__ {
    display: flex;
}

.__Merge__ h5 {
    margin-bottom: 40px;
    border: 1px solid darkgray;
    padding: 10px;
}

.__Merge__ .sourceMapUrl {
    margin-top: 40px;
    display: flex;
}

.__Merge__ .sourceMapUrl .color {
    width: 100px;
    height: 100%;
    margin-left: 20px;
}

.__Merge__ .sourceMapUrl .color img {
    display: none;
}

.__Merge__ .sourceMapUrl .color input {
    cursor: pointer;
}

.__Merge__ .merge-form {
    width: 750px;
    height: 70vh;
    padding: 20px;
    overflow-y: auto;
    margin: 100px auto;
}

.__Merge__ .merge-label {
    margin-top: 50px;
    margin-bottom: 10px;
}

.__Merge__ .merge {
    margin-top: 30px;
}

.__Merge__ .undo {
    position: fixed;
    bottom: 5px;
    right: 30px;
}

.__Merge__ .btn.disabled, .__Merge__ .btn:disabled {
    cursor: not-allowed;
}

.__Merge__ .merge-progress {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 650px;
}

.__Merge__ .progress-link {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css */
input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

input[type=color]:disabled {
    opacity: 0.3;
    cursor: not-allowed !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    box-shadow: none !important;
}